* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 1028px;
    height: 62px;
    margin: 0 auto;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-icon {
    display: flex;
    /* align-items: center; */
}

.logo-text {
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-left: 8px;
    margin-top: 5px;
}

.logo-btext {
    font-size: 29px;
    font-weight: 700;
}

.logo-ltext {
    font-size: 18px;
    font-weight: 700;
}

.contacts {
    text-align: end;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.phone {
    margin-top: 19px;
}

.main {
    width: 1028px;
    margin: 0 auto;
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    gap: 36px;
}
.container img {
    width: 300px;
    height: 220px;
}

.tour {
    width: 300px;
}

.text {
    margin-top: 20px;
}

.footer {
    margin-top: 48px;
    margin-bottom: 16px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

a.email:hover, a.phone:hover {
    color: #F26522;
}

.logo:hover .logo-text,
.logo:hover .logo-btext,
.logo:hover .logo-ltext {
    color: #F26522;
}

.logo:hover .logo-icon {
    content: url(../images/logo\ 2.svg);
}

.tour a {
    position: relative;
}

.tour a:hover .block-info {
    position: absolute;
    display: flex;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    bottom: 49px;
    z-index: 1;
}

.text-info {
    color: #FFF;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}

.block-info{
    display: none;
}

.first-info {
    font-size: 10px;
}

.price {
    font-size: 20px;
    margin-top: 8px;
}

.details {
    margin-top: 32px;
    margin-left: 128px;
    font-size: 16px;
}

.details::after {
    content: url(../images/Vector\ 1.svg);
    margin-left: 16px;
}

.tour a:hover .text {
    color: #F26522;
}